<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>801941320049-5jjkj3dnlq2ba8cn8pb4dnqcufgeqjpp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.801941320049-5jjkj3dnlq2ba8cn8pb4dnqcufgeqjpp</string>
	<key>API_KEY</key>
	<string>AIzaSyBQybn91Qw5HCh9xrRMOmpMl8BEEyeGLFA</string>
	<key>GCM_SENDER_ID</key>
	<string>801941320049</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.edu.ukma.nmarhal.CanYouReallySearchGitHub</string>
	<key>PROJECT_ID</key>
	<string>rsa-demo-3a078</string>
	<key>STORAGE_BUCKET</key>
	<string>rsa-demo-3a078.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:801941320049:ios:bb2d5fe5c1a57408cb06d0</string>
</dict>
</plist>