<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CanYouReallySearchGitHub.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
				<key>dateExpires</key>
				<string>14.06.2023</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebasePerformance.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>9.1.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>7.7.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>BCB193E3E2385C245E6E79ACBDE53D3174FC80F0</string>
						<key>dateExpires</key>
						<string>14.06.2023</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>VNU8KKW4GG</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>VNU8KKW4GG.ua.edu.ukma.nmarhal.CanYouReallySearchGitHub</string>
				<key>com.apple.developer.team-identifier</key>
				<string>VNU8KKW4GG</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>CanYouReallySearchGitHub.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>efcce7e1-dfa7-42dc-8de3-4c7e4743050e</string>
				<key>dateExpires</key>
				<string>15.06.2023</string>
				<key>name</key>
				<string>UKMA Edu Shared Profile</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>VNU8KKW4GG</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
